{# Build NetBox-derived topology structures directly from native objects. #}
{% set ns = namespace(
  interface_lookup = {},
  interface_by_id = {},
  topolink_interfaces = [],
  topolinks = [],
  toponodes = [],
  edge_interfaces = [],
  edge_interface_names = [],
  virtual_networks = [],
  virtual_network_names = [],
  l2vpn_names = [],
  l2vpn_parent_map = {},
  vlan_lookup = {}
) %}

{% set speed_map = {
  '100gbase-x-qsfp28': '100G',
  '40gbase-qsfpp': '40G',
  '25gbase-x-sfp28': '25G',
  '10gbase-x-sfpp': '10G'
} %}

{% set edge_tag_slug = 'eda-edge' %}

{% for l2vpn in netbox_l2vpn_records | default([]) %}
  {% set l2vpn_name = l2vpn.get('name') %}
  {% if l2vpn_name and l2vpn_name not in ns.l2vpn_names %}
    {% set ns.l2vpn_names = ns.l2vpn_names + [l2vpn_name] %}
  {% endif %}
  {% set l2_meta = namespace(data={}) %}
  {% set l2_comments = l2vpn.get('comments') %}
  {% if l2_comments %}
    {% set parsed_meta = l2_comments | from_yaml %}
    {% if parsed_meta is mapping %}
      {% if parsed_meta.get('eda') is mapping %}
        {% set l2_meta.data = parsed_meta.get('eda') %}
      {% else %}
        {% set l2_meta.data = parsed_meta %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% set parent_list = l2_meta.data.get('parent_vrfs') | default([]) %}
  {% if parent_list %}
    {% set ns.l2vpn_parent_map = ns.l2vpn_parent_map | combine({l2vpn_name: parent_list}) %}
  {% endif %}
{% endfor %}

{# Normalise interfaces into lookup tables and TopoLink interface definitions #}
{% for iface in netbox_interface_records | default([]) %}
  {% if 'device' in iface %}
    {% set device_name = iface['device']['name'] %}
    {% set iface_name = iface['name'] %}
    {% set resource_name = (device_name ~ '-' ~ iface_name.replace('/', '-')) %}
    {% set ns.interface_lookup = ns.interface_lookup | combine({ (device_name ~ '::' ~ iface_name): resource_name }) %}
    {% set ns.interface_by_id = ns.interface_by_id | combine({ (iface['id'] | string): iface }) %}
    {% set tag_state = namespace(slugs=[]) %}
    {% set label_state = namespace(value={}) %}
    {% for tag in iface.get('tags', []) %}
      {% if tag is mapping %}
        {% set tag_slug = tag.get('slug') or tag.get('name') %}
        {% set tag_name = tag.get('name') %}
      {% elif tag is string %}
        {% set tag_slug = tag | lower | regex_replace('[^a-z0-9]+', '-') | trim('-') %}
        {% set tag_name = tag %}
      {% else %}
        {% set tag_slug = None %}
        {% set tag_name = None %}
      {% endif %}
      {% if tag_slug %}
        {% set tag_state.slugs = tag_state.slugs + [tag_slug] %}
      {% endif %}
      {% if tag_name and tag_name.startswith('eda.nokia.com/') %}
        {% set label_state.value = label_state.value | combine({tag_name: 'true'}) %}
      {% endif %}
    {% endfor %}
    {% if edge_tag_slug in tag_state.slugs %}
      {% set label_state.value = label_state.value | combine({'eda.nokia.com/role': 'edge'}) %}
    {% endif %}
    {% for vlan in iface.get('tagged_vlans', []) %}
      {% if vlan is mapping and vlan.get('name') %}
        {% set label_key = 'eda.nokia.com/' ~ vlan.get('name') %}
        {% set label_state.value = label_state.value | combine({label_key: 'true'}) %}
      {% endif %}
    {% endfor %}
    {% set label_map = label_state.value %}
    {% set iface_entry = {
      'name': resource_name,
      'description': iface.get('description'),
      'members': [
        {
          'node': device_name,
          'interface': iface_name
        }
      ]
    } %}
    {% if label_map %}
      {% set iface_entry = iface_entry | combine({'labels': label_map}) %}
    {% endif %}
    {% set ns.topolink_interfaces = ns.topolink_interfaces + [iface_entry] %}
  {% endif %}
{% endfor %}

{# Build TopoLinks from cables #}
{% for cable in netbox_cable_records | default([]) %}
  {% set a_terms = cable.get('a_terminations', []) %}
  {% set b_terms = cable.get('b_terminations', []) %}
  {% if a_terms and b_terms %}
    {% set a_iface = ns.interface_by_id.get(a_terms[0]['id'] | string) %}
    {% set b_iface = ns.interface_by_id.get(b_terms[0]['id'] | string) %}
    {% if a_iface and b_iface %}
      {% set a_type_obj = a_iface.get('type') %}
      {% if a_type_obj is string %}
        {% set a_type_value = a_type_obj %}
      {% else %}
        {% set a_type_value = a_type_obj.get('value') %}
      {% endif %}
      {% set speed = speed_map.get(a_type_value, 'auto') %}
      {% set local_key = a_iface['device']['name'] ~ '::' ~ a_iface['name'] %}
      {% set remote_key = b_iface['device']['name'] ~ '::' ~ b_iface['name'] %}
      {% set tag_objects = cable.get('tags') | default([]) %}
      {% set tag_names = tag_objects | map(attribute='name') | list %}
      {% set has_isl_tag = 'ISL' in tag_names %}
      {% set link_labels = {} %}
      {% if has_isl_tag %}
        {% set link_labels = link_labels | combine({'eda.nokia.com/role': 'interSwitch'}) %}
      {% endif %}
      {% set link_entry = {
        'name': cable.get('label') or cable.get('display'),
        'labels': link_labels,
        'links': [
          {
            'type': 'interSwitch',
            'speed': speed,
            'local': {
              'node': a_iface['device']['name'],
              'interface': a_iface['name'],
              'interfaceResource': ns.interface_lookup.get(local_key)
            },
            'remote': {
              'node': b_iface['device']['name'],
              'interface': b_iface['name'],
              'interfaceResource': ns.interface_lookup.get(remote_key)
            }
          }
        ]
      } %}
      {% set ns.topolinks = ns.topolinks + [link_entry] %}
    {% endif %}
  {% endif %}
{% endfor %}

{# Derive edge interface definitions from NetBox interfaces tagged for edge services #}
{% for iface in netbox_interface_records | default([]) %}
  {% set iface_tags = iface.get('tags') | default([]) %}
  {% set tag_state = namespace(slugs=[]) %}
  {% set label_state = namespace(value={'eda.nokia.com/role': 'edge'}) %}
  {% for tag in iface_tags %}
    {% if tag is mapping %}
      {% set tag_slug = tag.get('slug') or tag.get('name') %}
      {% set tag_name = tag.get('name') %}
    {% elif tag is string %}
      {% set tag_slug = tag | lower | regex_replace('[^a-z0-9]+', '-') | trim('-') %}
      {% set tag_name = tag %}
    {% else %}
      {% set tag_slug = None %}
      {% set tag_name = None %}
    {% endif %}
    {% if tag_slug %}
      {% set tag_state.slugs = tag_state.slugs + [tag_slug] %}
    {% endif %}
    {% if tag_name and tag_name.startswith('eda.nokia.com/') %}
      {% set label_state.value = label_state.value | combine({tag_name: 'true'}) %}
    {% endif %}
  {% endfor %}
  {% set tag_slugs = tag_state.slugs %}
  {% set label_map = label_state.value %}
  {% if edge_tag_slug in tag_slugs %}
    {% set device_name = iface['device']['name'] %}
    {% set iface_name = iface['name'] %}
    {% set edge_resource = 'edge-' ~ device_name ~ '-' ~ iface_name.replace('/', '-') %}
    {% if edge_resource not in ns.edge_interface_names %}
      {% set iface_type_obj = iface.get('type') %}
      {% if iface_type_obj is string %}
        {% set iface_type_value = iface_type_obj %}
      {% else %}
        {% set iface_type_value = iface_type_obj.get('value') %}
      {% endif %}
      {% set iface_speed = speed_map.get(iface_type_value, 'auto') %}
      {% set vlan_label_state = namespace(value=label_map) %}
      {% for vlan in iface.get('tagged_vlans', []) %}
        {% if vlan is mapping and vlan.get('name') %}
          {% set label_key = 'eda.nokia.com/' ~ vlan.get('name') %}
          {% set vlan_label_state.value = vlan_label_state.value | combine({label_key: 'true'}) %}
        {% endif %}
      {% endfor %}
      {% set label_map = vlan_label_state.value %}
      {% set edge_entry = {
        'name': edge_resource,
        'namespace': 'eda',
        'labels': label_map,
        'spec': {
          'enabled': true,
          'encapType': 'dot1q',
          'ethernet': {
            'speed': iface_speed
          },
          'members': [
            {
              'enabled': true,
              'interface': iface_name,
              'node': device_name
            }
          ],
          'type': 'interface'
        }
      } %}
      {% set ns.edge_interfaces = ns.edge_interfaces + [edge_entry] %}
      {% set ns.edge_interface_names = ns.edge_interface_names + [edge_resource] %}
    {% endif %}
  {% endif %}
{% endfor %}

{# Build virtual network definitions from VLANs tagged for the demo #}
{% set demo_tag_slug = 'eda-demo-topology' %}
{% set default_bridge_domain_spec = {
  'eviPool': 'evi-pool',
  'macAging': 300,
  'macLearning': true,
  'tunnelIndexPool': 'tunnel-index-pool',
  'type': 'EVPNVXLAN',
  'vniPool': 'vni-pool'
} %}
{% for vlan in netbox_vlan_records | default([]) %}
  {% set tag_slugs = vlan.get('tags') | default([]) | map(attribute='slug') | list %}
  {% if demo_tag_slug in tag_slugs %}
    {% set vlan_name = vlan.get('name') %}
    {% set vlan_id = vlan.get('vid') %}
    {% if vlan_name %}
      {% set ns.vlan_lookup = ns.vlan_lookup | combine({ (vlan_name): vlan }) %}
    {% endif %}
    {% set parent_vrfs = ns.l2vpn_parent_map.get(vlan_name) %}
    {% if vlan_name and vlan_id is not none and vlan_name in ns.l2vpn_names and vlan_name not in ns.virtual_network_names and (not parent_vrfs) %}
      {% set vnet_entry = {
        'name': vlan_name,
        'namespace': 'eda',
        'spec': {
          'bridgeDomains': [
            {
              'name': vlan_name,
              'spec': default_bridge_domain_spec
            }
          ],
          'vlans': [
            {
              'name': vlan_name,
              'spec': {
                'bridgeDomain': vlan_name,
                'interfaceSelector': ['eda.nokia.com/' ~ vlan_name],
                'vlanID': vlan_id | string
              }
            }
          ]
        }
      } %}
      {% set ns.virtual_networks = ns.virtual_networks + [vnet_entry] %}
      {% set ns.virtual_network_names = ns.virtual_network_names + [vlan_name] %}
    {% endif %}
  {% endif %}
{% endfor %}

{# Augment virtual networks with VRF-backed definitions #}
{% for vrf in netbox_vrf_records | default([]) %}
  {% set vrf_name = vrf.get('name') %}
  {% if vrf_name and (vrf_name not in ns.virtual_network_names) %}
  {% set vn_namespace = 'eda' %}
  {% set routers_ns = namespace(entries=[]) %}
  {% set router_id = vrf_name | regex_replace('[^0-9]', '') %}
  {% if router_id | length == 0 %}
    {% set router_id = vrf_name %}
  {% endif %}
  {% set routers_ns.entries = routers_ns.entries + [
    {
      'name': vrf_name,
      'spec': {
        'eviPool': 'evi-pool',
        'tunnelIndexPool': 'tunnel-index-pool',
        'type': 'EVPNVXLAN',
        'vniPool': 'vni-pool',
        'routerID': router_id
      }
    }
  ] %}

  {% set bd_ns = namespace(entries=[], names=[]) %}
  {% set vlan_ns = namespace(entries=[]) %}
  {% set irb_ns = namespace(entries=[]) %}

  {% for l2vpn in netbox_l2vpn_records | default([]) %}
    {% set l2_meta = namespace(data={}) %}
    {% set l2_comments = l2vpn.get('comments') %}
    {% if l2_comments %}
      {% set parsed_meta = l2_comments | from_yaml %}
      {% if parsed_meta is mapping %}
        {% if parsed_meta.get('eda') is mapping %}
          {% set l2_meta.data = parsed_meta.get('eda') %}
        {% else %}
          {% set l2_meta.data = parsed_meta %}
        {% endif %}
      {% endif %}
    {% endif %}
    {% set parent_list = l2_meta.data.get('parent_vrfs') | default([]) %}
    {% if vrf_name in parent_list %}
      {% set bd_name = l2vpn.get('name') %}
      {% if bd_name and bd_name not in bd_ns.names %}
        {% set bd_spec = l2_meta.data.get('bridge_domain') %}
        {% if bd_spec is not mapping %}
          {% set bd_spec = default_bridge_domain_spec %}
        {% endif %}
        {% set bd_entry = {'name': bd_name, 'spec': bd_spec} %}
        {% set bd_ns.entries = bd_ns.entries + [bd_entry] %}
        {% set bd_ns.names = bd_ns.names + [bd_name] %}

        {% set vlan_record = ns.vlan_lookup.get(bd_name) %}
        {% if vlan_record %}
          {% set vlan_id = vlan_record.get('vid') %}
          {% if vlan_id is not none %}
            {% set vlan_spec = {
              'bridgeDomain': bd_name,
              'interfaceSelector': ['eda.nokia.com/' ~ bd_name],
              'vlanID': (vlan_id | string)
            } %}
            {% set vlan_entry = {'name': bd_name, 'spec': vlan_spec} %}
            {% set vlan_ns.entries = vlan_ns.entries + [vlan_entry] %}
          {% endif %}
        {% endif %}

        {% set l2_cf = l2vpn.get('custom_fields') if l2vpn.get('custom_fields') else {} %}
        {% set gateway_cf = l2_cf.get('L2vpn_gateway') %}
        {% if gateway_cf is mapping %}
          {% set gateway_ip = gateway_cf.get('display') or gateway_cf.get('address') or gateway_cf.get('name') %}
        {% else %}
          {% set gateway_ip = gateway_cf %}
        {% endif %}
        {% if gateway_ip %}
          {% set irb_ns.entries = irb_ns.entries + [
            {
              'name': bd_name ~ '-irb',
              'spec': {
                'bridgeDomain': bd_name,
                'router': vrf_name,
                'ipMTU': 9200,
                'ipAddresses': [
                  {
                    'ipv4Address': {
                      'ipPrefix': gateway_ip,
                      'primary': true
                    }
                  }
                ]
              }
            }
          ] %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if bd_ns.entries | length > 0 %}
    {% set vnet_spec_map = {
      'routers': routers_ns.entries
    } %}
    {% if bd_ns.entries | length > 0 %}
      {% set vnet_spec_map = vnet_spec_map | combine({'bridgeDomains': bd_ns.entries}) %}
    {% endif %}
    {% if vlan_ns.entries | length > 0 %}
      {% set vnet_spec_map = vnet_spec_map | combine({'vlans': vlan_ns.entries}) %}
    {% endif %}
    {% if irb_ns.entries | length > 0 %}
      {% set vnet_spec_map = vnet_spec_map | combine({'irbInterfaces': irb_ns.entries}) %}
    {% endif %}
    {% set vnet_entry = {
      'name': vrf_name,
      'namespace': vn_namespace,
      'spec': vnet_spec_map
    } %}
    {% set ns.virtual_networks = ns.virtual_networks + [vnet_entry] %}
    {% set ns.virtual_network_names = ns.virtual_network_names + [vrf_name] %}
  {% endif %}
  {% endif %}
{% endfor %}

{# Assemble TopoNode list #}
{% for device in netbox_device_records | default([]) %}
  {% set custom_fields = device.get('custom_fields') if device.get('custom_fields') else {} %}
  {% set version_value = custom_fields.get('version') | default(device.get('software_version'), true) | default('25.7.2', true) %}
  {% set version_str = (version_value | string) | trim %}
  {% set node_profile_name = custom_fields.get('nodeProfile') %}
  {% if not node_profile_name %}
    {% set node_profile_name = 'srlinux-ghcr-' ~ version_str %}
  {% elif not node_profile_name.startswith('srlinux-ghcr-') %}
    {% set node_profile_name = 'srlinux-ghcr-' ~ version_str %}
  {% endif %}

  {% set platform_raw = device.get('device_type', {}).get('model') %}
  {% set platform_clean = platform_raw
                              | default('')
                              | regex_replace('\\s*\\d+\\*\\d+GE.*$', '')
                              | regex_replace('\\s+\d+(?:/\d+)*GE.*$', '')
                              | regex_replace('\\s+\\d+\\.\\d+\\.\\d+.*$', '')
                              | trim
                              | default(platform_raw, true) %}
  {% set operating_system = custom_fields.get('operatingSystem') | default('srl', true) %}
  {% set on_boarded_cf = custom_fields.get('onBoarded') %}
  {% set on_boarded = on_boarded_cf if on_boarded_cf is not none else false %}
  {% set prod_ip = device.get('primary_ip4', {}).get('address') if device.get('primary_ip4') else None %}
  {% if prod_ip %}
    {% set prod_ip = prod_ip.split('/') | first %}
  {% endif %}

  {% set node_entry = {
    'name': device['name'],
    'role': device['role']['slug'],
    'node_profile': node_profile_name,
    'platform': platform_clean,
    'version': version_str,
    'production_ipv4': prod_ip,
    'security_profile': custom_fields.get('securityProfile'),
    'operating_system': operating_system,
    'on_boarded': on_boarded,
    'netbox_device_id': device.get('id')
  } %}
  {% set ns.toponodes = ns.toponodes + [node_entry] %}
{% endfor %}

{
  "toponodes": {{ ns.toponodes | to_nice_json(indent=2) }},
  "topolink_interfaces": {{ ns.topolink_interfaces | to_nice_json(indent=2) }},
  "topolinks": {{ ns.topolinks | to_nice_json(indent=2) }},
  "edge_interfaces": {{ ns.edge_interfaces | to_nice_json(indent=2) }},
  "virtual_networks": {{ ns.virtual_networks | to_nice_json(indent=2) }}
}
