{
  "metadata": {
    "namespace": "{{ eda_namespace }}",
    "name": "{{ item.name }}",
    "labels": {
      "eda.nokia.com/role": "{{ item.role }}",
      "eda.nokia.com/security-profile": "{{ item.security_profile | default('managed', true) }}",
      "demo.nokia.com/source": "uv-ansible-toponodes"
    }
  },
  "spec": {
    "nodeProfile": "{{ item.node_profile }}",
    "operatingSystem": "{{ item.operating_system | default('srl') }}",
    "platform": "{{ item.platform }}",
    "version": "{{ item.version }}",
    "onBoarded": {{ 'true' if ((item.on_boarded | default(false)) | bool) else 'false' }},
    "productionAddress": {% if item.production_ipv4 | default(None) %}{
      "ipv4": "{{ item.production_ipv4 }}"
    }{% else %}{}{% endif %},
    "npp": {
      "mode": "normal"
    }
  }
}
